default:
    suites:
        default:
            contexts:
                - App\Tests\Functional\Context\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'config/test/behat/bootstrap.php'