default:
    suites:
        default:
            contexts:
                - App\Tests\Functional\Context\RequestContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/Functional/bootstrap.php'